<html>
<head>
<link rel="flask" href="/static/favicon.ico" type="image/x-icon">
{% if title %}
    <title>{{ title }} - OCR</title>
{% else %}
<title>OCR</title>
{% endif %}
</head>
<body>
    <section id="navbar">
      <a href="/">Home</a>
      <a href="/upload">Upload</a>
    </section>
    
    <hr>
    <section id="content">
      {% block content %}
      {% endblock %}
    </section>

    <hr>
    <section id="footer">
      {% block footer %}
      &copy; Copyright 2020 by <a href="https://github.com/thoth-ky">Thoth</a>.
      {% endblock %}
    </section>
    
</body>
</html>