body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  background: rgba(0,0,0,0.9);
  max-width: 1200px;
  height: 600px;
  /* align-items: center; */
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 10px;
  position: relative;
}
hr {
  width: 100%;
}

#content {
 height: 80%;
 width: 100%;
 align-items: left;
}

#navbar {
  height: 10%;
 }

#footer {
  height: 10%;
 }